<div>
  <RVI-tabs tab="Account">
    <RVI-tab-list>
      <button rviTabTrigger="Account">Account</button>
      <button rviTabTrigger="Password">Password</button>
      <button rviTabTrigger="Reset">Reset</button>
    </RVI-tab-list>

    <div *rviTabContent="'Account'">
      <span>content 1</span>

      @defer (when events()) { @for(event of events(); track $index) {
      <RVI-event-timeline-card
        [event_day]="event.event_day"
        [event_date]="event.event_date"
        [event_title]="event.event_title"
        [event_time]="event.event_time"
        [event_location]="event.event_location"
        [event_attendees]="event.event_attendees"
      />
      } } @placeholder {
      <div>Loading...</div>
      }
    </div>
    <div *rviTabContent="'Password'">
      <div>tab content2</div>
    </div>
    <div *rviTabContent="'Reset'">
      <div>tab content3</div>
    </div>
  </RVI-tabs>
</div>
